.filtros {
    display: grid;
    justify-content: center;

    h3 {
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
        padding: 10px;
        text-align: center;
    }

    ul li {
        display: block;
        text-decoration: none;
        font-family: $Family;
        font-size: 25px;
        padding: 5px;
    }

    input {
        margin: 7px;
    }
}

@media (min-width: 1140px) {
    ul {
        display: flex;
    }
}