.filtros h3{
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

.filtros ul li {
    display: block;
    text-decoration: none;
    font-family: $Family;
    font-size: 25px;
    padding: 5px;
}