.footer {
    flex-direction: row;
    background-color: #f8f9fa;
    width: 100%;
    padding: 10px;

    ul {
        list-style: none;
    }

    .logofooter {
        width: 20%;

        img {
            max-width: 80px;
        }
    }

    .redes {
        width: 80%;

        ul>li>img {
            max-width: 60px;
            padding: 3px;
            cursor: pointer;
        }
    }
}