.footer {
    background-color: #f8f9fa;
    ul{
    list-style: none;
}
    li a {
        display: block;
        text-decoration: none;
        font-family: $Family;
        color: grey;
        font-size: 25px;
        padding: 10px;
        &:hover{
            color: black;
        }
    }
}