@import "mixin";


.fondoform{
    height: 100%;
    width: 100%;
    background-image: url(../assets/fondoform.jpg);
    background-position: center;
    background-size: cover;
    padding: 200px 10px;
}
.formcontainer{
    background-image: linear-gradient( 35.2deg,  rgba(0,119,182,1) -18.7%, rgba(8,24,68,1) 54.3% );
    border-radius: 10px;
    iframe{
        width: 100%;
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .formresponsive{
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .contcampos{
        width: 100%;
        height: 100%;
        padding: 15px 10px;
        font-size: 15px;
        margin-bottom: 20px;
    }
    .btnenviar {
        width: 85%;
        padding: 10px 30px;
        margin: auto;
        background: white;
        border: 0px;
        outline: none;
        border-radius: 30px;
        margin-bottom: 30px;
        margin-left: 20px;
        &:hover{
            background-color: lightblue;
        }
    }
    .infoform{
        h2{
            font-size: 30px;
            text-align: center;
            color: #FFFFFF;
            text-shadow: 3px 5px 2px #474747;
            padding-top: 20px;
        }
        p{
            font-size: 20px;
            text-align: center;
            color: white;
        }
        h3{
            font-size: 30px;
            text-align: center;
            color: white;
        }
    }
}


@media (min-width: 768px){
    .fondoform{
        padding:300px 20px;
        .formcontainer{
            display: flex;
            padding: 100px 80px;
        }
        .formresponsive{
            width: 100%;
            height: 100%;
            padding-right: 250px;
        }
        textarea{
            max-width: 1400px;
            min-height: 300px;
        }
        .btnenviar {
            width: 100px;
            padding: 10px 30px;
            margin: auto;
            border-radius: 30px;
            margin-bottom: 30px;
            margin-right: 300px;
        }
        iframe{
            width: auto;
            height: 50%;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
