*{
    padding: 0;
    margin: 0;
}
.navbar ul li a {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.navbar-brand {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.footer ul {
    list-style: none;
}

.footer ul li a {
    display: block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 25px;
    padding: 10px;
}

.filtros h3{
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

.filtros ul li {
    display: block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding: 5px;
}

.titulos{
    font-size: 70px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.btn {
   background-color: red;  
}
